﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/rResponsive.master" AutoEventWireup="true" CodeFile="DocumentFolderChange.aspx.cs" Inherits="Test_DocumentFolderChange" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">

                 <asp:Button runat="server" ID="btnChangeFolder" Text="Change document folder" OnClick="btnChangeFolder_Click" />
</asp:Content>

