﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="OnTaskTop.master.cs" Inherits="ontask_OnTaskTop" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="icon" href="~/images/favicon.ico">
    <!-- Page Title -->
    <title>Sign In</title>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/ontask/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/ontask/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="assets/vendor/backward/html5shiv.js"></script>
      <script type="text/javascript" src="assets/vendor/backward/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .tm-login-wrap .tm-login-form input[type=submit] {
            width: 100%;
            height: 50px;
            font-size: 28px;
            font-family: 'BebasNeue', sans-serif;
            background-color: #288ef8;
            border: none;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            margin-top: 5px;
            margin-bottom: 35px;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .login-input {
            font-family: Oswald;
        }
    </style>
     <asp:Literal ID="ltMasterStyles" runat="server"></asp:Literal>
</head>



<body data-spy="scroll" data-target=".primary-nav">

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader-wave"></div>
    </div>

    <!-- Start Site Header -->
    <header class="site-header support-header">
        <div class="container header-wrap">
            <div class="site-branding">
                <a href="https://www.ontaskhq.com.au" class="custom-logo-link">
                    <img src="<%=ResolveUrl("~/ontask/img/logo.png")%>" alt="" class="custom-logo">
                </a>
            </div>
            <nav class="primary-nav">
                <ul class="primary-nav-list">
                    <li class="menu-item current-menu-parent"><a href="http://www.ontaskhq.com.au/index.html#benefits" class="nav-link">Benefits</a></li>
                    <li class="menu-item"><a href="http://www.ontaskhq.com.au/index.html#pricing" class="nav-link">Pricing</a></li>
                    <li class="menu-item"><a href="http://www.ontaskhq.com.au/index.html#faq" class="nav-link">FAQs</a></li>
                    <!--
                    <li class="menu-item"><a href="#subscribe" class="nav-link">Start</a></li>
                    -->
                    <li class="menu-item"><a href="http://www.ontaskhq.com.au/support.html" class="nav-link">Support</a></li>
                    <li class="menu-item"><a href="https://OnTask.thedatabase.net" class="nav-link">Sign In</a></li>
                    <li class="menu-item"><a href="https://OnTask.thedatabase.net/SignUp.aspx" class="nav-link"><strong>Sign Up</strong></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Start Login Section -->
    <div class="tm-login-wrap" style="background-image: url('<%=ResolveUrl("~/ontask/img/bg.jpg")%>');">
        <div class="container">
            <h2 class="tm-login-text"><span>Sign in to quickly see where team members are, set up work schedules, create checklist templates, and much more.</span> </h2>
            <form id="frmMain" runat="server" action="#" class="tm-login-form font-bebasneue">
                <asp:ScriptManager ID="ScriptManager" runat="server" />
                <asp:UpdatePanel ID="upNotificationMessage" runat="server" UpdateMode="Always">
                    <ContentTemplate>
                        <div id="divNotificationMessage" style="position: fixed; top: 0px;">
                            <asp:Label runat="server" ID="lblNotificationMessage"></asp:Label>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>

                <asp:UpdatePanel ID="updatePanel" runat="server">
                    <ContentTemplate>
                        <asp:ContentPlaceHolder ID="HomeContentPlaceHolder" runat="server">
                        </asp:ContentPlaceHolder>


                    </ContentTemplate>
                </asp:UpdatePanel>
            </form>
        </div>
    </div>
    <!-- End Login Section -->

    <!-- Start Site Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="footer-app-logo">
                <a href="https://itunes.apple.com/au/app/subway-surfers/id512939461?mt=8" class="app-btn"
                    target="_blank">
                    <img src="<%=ResolveUrl("~/ontask/img/app-store.png")%>" alt="Download from App Store"></a>
                <a href="https://play.google.com/store/apps/details?id=com.kiloo.subwaysurf" class="app-btn"
                    target="_blank">
                    <img src="<%=ResolveUrl("~/ontask/img/play-store.png")%>" alt="Download from Google Play Store"></a>
            </div>
            <br />
            <div class="footre-logo">
                <img src="<%=ResolveUrl("~/ontask/img/footer-logo.png")%>" alt=""></div>
            <ul class="contact-info font-bebasneue">
                <!---->
                <li>
                    <a href="http://www.ontaskhq.com.au/terms-of-service.pdf" style="letter-spacing: -0.3px;">
                        <img src="<%=ResolveUrl("~/ontask/img/ContactUs.png")%>" alt="Terms of Service Icon">
                        Terms of Service
                    </a>
                </li>
                <li>
                    <a href="http://www.ontaskhq.com.au/privacy-policy.pdf">
                        <img src="<%=ResolveUrl("~/ontask/img/phone-icon.png")%>" alt="Privacy Policy Icon">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="https://www.ontaskhq.com.au/contact.aspx">
                        <img src="<%=ResolveUrl("~/ontask/img/envlop-icon.png")%>" alt="Contact Us Icon">
                        Contact Us
                    </a>
                </li>
            </ul>
            <div class="copyright">
                <p>Copyright© 2018. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- Scripts -->

    <script type="text/javascript" src="<%=ResolveUrl("~/ontask/js/modernizr-3.5.0.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/ontask/js/jquery-1.12.4.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/ontask/js/jquery.mb.YTPlayer.min.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/ontask/js/plugins.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/ontask/js/main.js")%>"></script>

</body>

<%-- <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>--%>
</html>
