﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/Marketing.master" AutoEventWireup="true" CodeFile="AccountInvite.aspx.cs" Inherits="AccountInviteP" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">
    <div style="padding:100px;">
        <asp:Label runat="server" ID="lblMessage"></asp:Label>
        <br />
        <asp:HyperLink runat="server" NavigateUrl="~/Default.aspx" Text="Back to Home"></asp:HyperLink>
    </div>
</asp:Content>

