﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/rResponsive.master" AutoEventWireup="true" CodeFile="Empty.aspx.cs" Inherits="Empty" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">

    <div style="padding:10px; min-width:450px;">
        
         

        <p>Sorry, You might not have permissions to access this section.</p>
        <p>Please try again or contact your system administrator.</p>
        <p>Thank you.</p>
        
    </div>

</asp:Content>

