﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/rResponsive.master" AutoEventWireup="true" CodeFile="God.aspx.cs" Inherits="God" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" runat="Server">
    <p>
        <br />
    </p>
    <p>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
    </p>
    <p>
        Enter encrypted text and click Decrypt button to get normal text<br />
        <asp:TextBox ID="txtEncrypted" runat="server" Width="501px"></asp:TextBox>


    </p>
    <p>
        <asp:Button ID="btnGetInt" runat="server" Text="Decrypt" OnClick="btnGetInt_Click" />

    </p>

    <p>
        <asp:Label runat="server" ID="lblDecrypt"></asp:Label>
    </p>
    <p></p>
    <p>
        Enter a normal text and click Encrypt button to get encrypted text<br />
        <asp:TextBox ID="txtDycrepted" runat="server" Width="501px"></asp:TextBox>


    </p>
    <p>

        <asp:Button ID="btnEncrypt" runat="server" Text="Encrypt" OnClick="btnEncrypt_Click" />

    </p>
    <p>
        <asp:Label runat="server" ID="lblEncrypt"></asp:Label>
    </p>
    <p>
        &nbsp;
    </p>

</asp:Content>

