﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/rResponsive.master" AutoEventWireup="true" CodeFile="Security.aspx.cs" Inherits="Security" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">

         <div style="padding:50px;">
             <strong>Access denied! Please contact with system administrator.</strong>
         </div>
</asp:Content>

