﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/Open.master" AutoEventWireup="true" CodeFile="w.aspx.cs" Inherits="w" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


    <script type="text/javascript">   
        $(document).ready(function () {

            $.ajax({
                url: '/Pages/Record/ColumnRecordRes.ashx?DeviceWidth=' + $(window).width(),
                cache: false,
                success: function (content) {
                    if (content == 'False') {
                       // alert('Error!');
                    }
                    else { //alert('good');
                    }
                },
                error: function (a, b, c) {
                    //alert('Error!');
                }
            });

            //document.getElementById('hfDeviceWidth').value = $(window).width();
        });
    </script>

     <asp:Literal ID="ltJS" runat="server"></asp:Literal>
  
    <br />
    Screen Width:<asp:Label runat="server" ID="lblW" Font-Bold="true" Font-Size="Large"></asp:Label>
    <br />
    May be we need to refresh twice :(

    <br />
    <asp:Button runat="server" ID="btnSetWidthNull" Text="Set session DeviceWidth NULL" OnClick="btnSetWidthNull_Click" />

</asp:Content>

