﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="w2.aspx.cs" Inherits="w2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <asp:Label runat="server" ID="lblTest"></asp:Label>
    </div>
    </form>
</body>
</html>
