/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*--------------------------------------------------------------
1. Typography
--------------------------------------------------------------*/


/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

/*Custom Fonts*/

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueBold.otf') format('otf'), url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueRegular.otf') format('otf'), url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueLight.otf') format('otf'), url('../fonts/BebasNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  /* This is where we set the main font */
  color: #666666;/* #737373 */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.youtube-link {
  text-align: center;
  color: blue;
  font-size: 12px;
}

.font-bebasneue {
  font-family: 'BebasNeue', sans-serif;
}

button {
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h3,
h5,
h6 {
  clear: both;
  color: #191919;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 400;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 15px;
  list-style: square outside none;
}

ol {
  padding-left: 15px;
  margin-bottom: 15px;
}

li {
  /* font-size: 15px;*/
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 14px;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a:focus,
a:active {
  color: #fd6e1e;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: none;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
  max-width: 1170px;
}

.row {
  margin-right: -20px;
  margin-left: -20px;
}

.row>div {
  padding-right: 20px;
  padding-left: 20px;
}


/*--------------------------------------------------------------
4. ScrollUp
--------------------------------------------------------------*/

.scrollup {
  position: fixed;
  bottom: -60px;
  right: 25px;
  color: #fff;
  padding: 5px;
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 10;
  background: #004987;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.scrollup:hover {
  opacity: 0.8;
}

.scrollup:before {
  content: "\f102";
  font-family: 'FontAwesome';
}

.scrollup.scrollup-show {
  bottom: 25px;
}


/*--------------------------------------------------------------
5. Site Header
--------------------------------------------------------------*/

.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 239px;
  background-color: transparent;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}

.header-wrap:before,
.header-wrap:after {
  content: none;
}

.site-header.small-height,
.site-header.support-header {
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #004987;
  height: 100px;
}

.site-header.small-height .primary-nav .primary-nav-list,
.site-header.support-header .primary-nav .primary-nav-list {
  margin-bottom: 15px;
}


/*Site Branding*/

.site-header .custom-logo {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.site-header.small-height .custom-logo,
.site-header.support-header .custom-logo {
  max-width: 250px;
  max-height: 100px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-logo-link {
  display: inline-block;
}


/*End Site Branding*/


/*Navigation*/

.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  margin-right: 20px;
}

.primary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.primary-nav .primary-nav-list {
  height: 70px;
  margin-bottom: 35px;
}

.primary-nav .menu-item {
  position: relative;
  margin-right: 32px;
  height: 100%;
}

.primary-nav .menu-item:last-child {
  margin-right: 0px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}

.primary-nav .menu-item>a {
  font-size: 30px;
  font-weight: 400;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header .primary-nav .menu-item>a {
  height: 100%;
}

.primary-nav-list .menu-item>a {
  color: #fff;
}

.primary-nav-list .active>a,
.primary-nav-list .menu-item>a:hover {
  background-color: transparent;
}

.primary-nav-list .current-menu-ancestor .current-menu-ancestor.current-menu-parent>a,
.primary-nav-list .current-menu-ancestor.current-menu-parent .current-menu-item>a {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.site-header .primary-nav .menu-item-has-children>ul {
  width: 200px;
  padding-left: 0;
  background: -o-linear-gradient(left, rgba(66, 129, 165, 0.85), rgba(107, 23, 148, 0.85) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(66, 129, 165, 0.85)), to(rgba(107, 23, 148, 0.85)));
  background: linear-gradient(to right, rgba(66, 129, 165, 0.85), rgba(107, 23, 148, 0.85) 100%);
  position: absolute;
  top: 70px;
  display: none !important;
  z-index: 10;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.site-header .primary-nav .menu-item-has-children>ul ul {
  top: 1px;
  border-left: 1px solid rgba(142, 141, 141, 0.2);
}

.site-header.small-height .primary-nav .menu-item-has-children>ul,
.site-header.support-header .primary-nav .menu-item-has-children>ul {
  top: 70px;
}

.site-header.small-height .primary-nav .menu-item-has-children>ul ul,
.site-header.support-header .primary-nav .menu-item-has-children>ul ul {
  top: 1px;
}

.primary-nav .menu-item:hover>ul {
  display: block !important;
}

.primary-nav .menu-item-has-children>ul>li {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 16px;
}

.primary-nav .menu-item-has-children>ul>li a {
  height: initial;
  display: block;
  padding: 11px 15px;
  background: transparent;
  font-size: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: -1px;
}

.site-header .primary-nav .menu-item-has-children>ul>li a,
.site-header.small-height .primary-nav .menu-item-has-children>ul>li a,
.site-header.support-header .primary-nav .menu-item-has-children>ul>li a {
  min-height: 30px;
}

.primary-nav .menu-item-has-children>ul>li:not(:first-child) a {
  border-top: 1px solid rgba(142, 141, 141, 0.2);
}

.primary-nav .menu-item-has-children>ul>li:not(:last-child) a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.primary-nav .menu-item-has-children>ul>li a:hover {
  background: -o-linear-gradient(left, rgba(66, 129, 165, 0.9), rgba(107, 23, 148, 0.9) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(66, 129, 165, 0.9)), to(rgba(107, 23, 148, 0.9)));
  background: linear-gradient(to right, rgba(66, 129, 165, 0.9), rgba(107, 23, 148, 0.9) 100%);
  color: #fff;
}

.primary-nav .menu-item-has-children>ul>li ul {
  position: absolute;
  left: 100%;
  right: 100%;
  top: 1px;
  display: none;
}

.primary-nav .menu-item-has-children>ul>li:hover ul {
  display: block;
}


/*Mobile Menu Button*/

.m-menu-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 27px;
  margin: 0 0 0 0;
  cursor: pointer;
  display: none;
}

.m-menu-btn span {
  margin: 0 auto;
  position: relative;
  top: 12px;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.m-menu-btn span:before,
.m-menu-btn span:after {
  position: absolute;
  content: '';
}

.m-menu-btn span,
.m-menu-btn span:before,
.m-menu-btn span:after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: block;
}

.m-menu-btn span:before {
  margin-top: -8px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.m-menu-btn span:after {
  margin-top: 8px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.m-menu-btn-ext span {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.m-menu-btn-ext span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.m-menu-btn-ext span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.m-dropdown {
  display: none;
}


/*End Mobile Menu Button*/

.primary-nav .primary-nav-list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}


/*--------------------------------------------------------------
6. Home Page
--------------------------------------------------------------*/

.footer-app-logo {
  position: absolute;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.site-footer .container {
  position: relative;
}

.youtube-bg {
  background-color: #3b3b3b;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  position: relative;
}

.hero .container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  max-width: 100%;
  /*z-index: 3;*/
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-bottom: 70px;
}

.hero-content a {
  display: block;
}

.start-using {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  line-height: 44px;
  margin-top: 35px;
}

.st-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}

.st-list li {
  color: #fff;
  font-size: 30px;
  line-height: 39px;
  font-weight: 400;
  position: relative;
}

.st-list li:not(:last-child) {
  padding-right: 25px;
  margin-right: 25px;
}

.st-list li:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #fff;
  right: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.st-list li:last-child:before {
  display: none;
}
.small-height .primary-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.support-header .app-btn-wrap,
.small-height .app-btn-wrap {
  max-width: 198px;
  position: inherit;
  top: 0;
  right: 0;
  width: auto;
  margin-right: 15px;
}
.support-header .primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app-btn-wrap {
  max-width: 198px;
  position: absolute;
  top: 22px;
  right: 57px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 101;
}

.app-btn-wrap a:not(:last-child) {
  margin-right: 30px;
}


/*Curousor*/

.tm-your-day-wrap {
  padding-top: 70px;
}

.tm-day-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  padding-top: 65px;
}

.tm-yourday-heading {
  margin-bottom: 95px;
}

.tm-day-text-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm-day-text h3 {
  font-size: 52px;
  color: #004987;
  line-height: 50px;
  margin-bottom: 15px;
}

.tm-day-text h3 span {
  color: #fd6e1e;
}

.tm-day-text h2 {
  font-size: 108px;
  font-weight: 600;
  color: #0389fa;
  margin-bottom: 30px;
}

.tm-day-text h4 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  line-height: 48px;
  margin-bottom: 0;
}

.tm-day-text p {
  color: #666666;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
}

.tm-day-img {
  padding-left: 60px;
}

.tm-day-text {
  padding-right: 60px;
}

.carousel-indicators {
  position: initial;
  margin: 0;
}

.carousel-indicators li:before,
.carousel-indicators li:after {
  display: none;
}

.carousel-indicators li {
  text-indent: initial;
  height: initial;
  width: initial;
}

.tm-day-list {
  overflow: hidden;
}

.carousel-indicators {
  position: relative;
  margin: 0;
  bottom: 0;
}

.carousel-indicators:before,
.carousel-indicators:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1000px;
  background-color: #f3f3f3;
  top: 0;
}

.carousel-indicators:before {
  left: 100%;
}

.carousel-indicators:after {
  right: 100%;
}

.carousel-indicators li {
  text-indent: initial;
  height: initial;
  width: initial;
  margin: 0;
  cursor: pointer;
  text-align: center;
  font-size: 42px;
  line-height: 60px;
  font-weight: 400;
  background-color: #f3f3f3;
  color: #004987;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3px 10px;
  border-right: 2px solid #fff;
}

.carousel-indicators li:hover {
  color: #fd6e1e;
}

.carousel-indicators li:first-child {
  border-left: 2px solid #fff;
}

.carousel-indicators .active {
  background-color: transparent;
}

.carousel-inner {
  margin-top: -65px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
  color: #fd6e1e;
  opacity: 1;
  font-size: 100px;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tm-your-day-wrap:hover .carousel-control-next,
.tm-your-day-wrap:hover .carousel-control-prev {
  opacity: 1;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fd6e1e;
}


/*Section Heading*/

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading h2 {
  font-size: 120px;
  color: #004987;
  line-height: 105px;
}

.section-heading p {
  font-size: 42px;
  line-height: 70px;
  margin-bottom: 0;
}

.section-heading.orange-color {
  margin-bottom: 70px;
}


/*Key Benifits*/

.benefits-wrap,
.streamlined-wrap,
.connected-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}

.fal-center {
  padding: 0 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-text h3 {
  font-size: 54px;
  color: #004987;
  margin-bottom: 5px;
}

.feature-text h3 span {
  font-weight: bold;
}

.feature-text h2 {
  font-size: 100px;
  color: #0389fa;
  font-weight: 600;
  margin-bottom: 50px;
}


/*
.feature-text p {
  
  line-height: 40px;
  color: #666666;
  margin-bottom: 0;
  
}
*/

.streamlined-wrap {
  background-color: #f0f0f0;
}

.connected-wrap {
  background-position: bottom center;
  background-repeat: repeat-x;
}


/*Pricing*/

.pricing-wrap {
  padding-top: 120px;
  padding-bottom: 110px;
}

.height-90 {
  height: 90px;
  width: 100%;
}

.single-plan {
  border: 2px solid #666666;
  border-radius: 80px;
  padding: 35px;
  position: relative;
  margin-bottom: 35px;
}

.plan-name {
  font-size: 85px;
  font-weight: 700;
  color: #0091d5;
  margin-top: 13px;
  margin-bottom: 8px;
}

.price.font-bebasneue {
  font-size: 48px;
  color: #0091d5;
  margin-bottom: 5px;
}

.price-per {
  font-size: 36px;
  color: #0091d5;
  line-height: 36px;
  height: 36px;
}

.price-title {
  font-size: 42px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price-intro {
  min-height: 80px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
}

.price-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.price-list li {
  font-size: 30px;
  color: #666;
  font-weight: 600;
  position: relative;
  padding: 25px 60px;
  line-height: 35px;
  padding-right: 70px;
}

.price-list li.disable {
  color: #cccccc;
}

.price-list li:before {
  content: '';
  background: url(../img/tik1.png) no-repeat center center;
  height: 52px;
  width: 54px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.price-list li.disable:before {
  display: none;
}

.extra-title {
  text-align: center;
  font-size: 60px;
  color: #fd6203;
  line-height: 60px;
  margin-bottom: 30px;
}

.pricing-btn {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 60px;
  line-height: 72px;
  background-color: #0091d5;
  color: #fff;
  padding: 24px 20px;
  border-radius: 60px;
}

.pricing-btn:hover {
  opacity: 0.8;
  color: #fff;
}

.pricint-note {
  color: #333333;
  font-size: 24px;
  line-height: 35px;
  margin-top: 30px;
}

.pricint-note span {
  font-weight: 600;
}

.active-plan .single-plan {
  border: 3px solid #fd6203;
}

.free-plan .single-plan {
  border: 3px solid #01D861;
}

.active-plan .plan-name,
.active-plan .price,
.active-plan .price-per,
.orange-color p {
  color: #fd6203;
}

.free-plan .plan-name,
.free-plan .price,
.free-plan .price-per,
.green-color p {
  color: #01D861;
}

.active-plan .price-list li:before {
  background: url(../img/tik2.png) no-repeat center center;
}

.free-plan .price-list li:before {
  background: url(../img/tik3.png) no-repeat center center;
}

.active-plan .pricing-btn {
  background-color: #fd6203;
}

.free-plan .pricing-btn {
  background-color: #01D861;
}

#benefits {
  border-bottom: 2px solid #dbdbdb;
}

.free-plan .pricing-btn:active,
.free-plan .pricing-btn:focus,
.active-plan .pricing-btn:active,
.active-plan .pricing-btn:focus,
.pricing-btn:active,
.pricing-btn:focus {
  color: #fff;
}

.accordian-body a {
  text-decoration: underline;
}

.accordian-body a:hover {
  color: #fd6203;
}


/*FAQ*/

.faq-wrap {
  background-color: #f0f0f0;
  padding-top: 120px;
  padding-bottom: 150px;
}

.faq-link {
  text-decoration: underline;
}


/*Accordian*/

.single-accordian {
  border-bottom: 1px solid #333333;
}

.accordian-head {
  cursor: pointer;
  margin: 0;
  font-size: 38px;
  color: #333333;
  font-weight: 500;
  padding: 32px 100px;
  padding-right: 150px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordian-head i {
  color: #404040;
  margin-right: 18px;
}

.accordian-head.active i {
  color: #fff;
}

.single-accordian .accordian-body {
  /*color: #666666;*/
  line-height: 50px;
  font-size: 35px;
  padding: 1px 150px 25px 100px;
}

.accordian-toggle {
  height: 65px;
  width: 65px;
  background-color: #bcbcbc;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
}

.accordian-head.active .accordian-toggle {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


/*Emd Accordian*/


/*Subscribe*/

.subscripe-wrap {
  background-color: #0091d5;
  text-align: center;
  padding: 120px 0;
}

.subscripe-form {
  margin-top: 60px;
}

.subscripe-form input {
  width: 640px;
  border: 7px solid #fff;
  background-color: transparent;
  border-radius: 60px;
  height: 120px;
  font-size: 40px;
  color: #fff;
  padding: 20px 40px;
  margin: 0 10px;
}

.subscripe-btn {
  height: 120px;
  font-size: 40px;
  border-radius: 60px;
  background-color: #004987;
  border: none;
  color: #fff;
  width: 475px;
  padding: 20px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscripe-btn:hover {
  opacity: 0.85;
}

.subscripe-form input::-webkit-input-placeholder {
  color: #fff;
}

.subscripe-form input::-moz-placeholder {
  color: #fff;
}

.subscripe-form input:-ms-input-placeholder {
  color: #fff;
}

.subscripe-form input:-moz-placeholder {
  color: #fff;
}

.subscripe-form input:focus {
  outline: none;
  border-color: #fd6e1e;
}


/*Footer*/

.site-footer {
  background-color: #000;
  padding: 80px 0;
  position: relative;
  z-index: 2;
}

.footre-logo {
  margin-bottom: 70px;
}

.contact-info.font-bebasneue {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
}

.contact-info.font-bebasneue li {
  font-size: 42px;
  color: #fff;
  line-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info.font-bebasneue li a,
.contact-info.font-bebasneue li span {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.contact-info.font-bebasneue li a:hover,
.contact-info.font-bebasneue li span:hover {
  color: #fd6e1e;
}

.contact-info.font-bebasneue li:last-child {
  margin-bottom: 0;
}

.contact-info.font-bebasneue li img {
  margin-right: 15px;
}

.contact-info.font-bebasneue li span {
  margin-right: 23px;
}

.copyright p {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  margin: 0;
}

.copyright p br {
  display: none;
}

.mobile-ex-price {
  display: none;
}

.tm-video {
  display: block;
}

.hero-slider.owl-carousel {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.hero-slider.owl-carousel,
.hero-slider.owl-carousel .owl-stage-outer,
.hero-slider.owl-carousel .owl-stage,
.hero-slider.owl-carousel .owl-item,
.hero-slider.owl-carousel .owl-item>div {
  height: 100%;
  width: 100%;
}

.tm-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mobile-plan-btn {
  display: none;
}


/*--------------------------------------------------------------
9. Responsive
--------------------------------------------------------------*/


/*== Start Site Header ==*/

.price-list li {
  padding-left: 0;
}

.price-intro {
  min-height: 114px;
}


/*/////*/

.site-header .custom-logo {
  max-width: 200px;
}

.app-btn-wrap .app-btn {
  max-width: 90px;
}

.app-btn-wrap a:not(:last-child) {
  margin-right: 15px;
}

.primary-nav-list .menu-item>a {
  color: #fff;
}

.primary-nav .menu-item>a {
  font-size: 16px;
}

.site-header {
  height: 150px;
}

.site-header.small-height,
.site-header.support-header {
  height: 60px;
}

.site-header.small-height .custom-logo,
.site-header.support-header .custom-logo {
  max-width: 140px;
}

.site-header.small-height .primary-nav .primary-nav-list,
.site-header.support-header .primary-nav .primary-nav-list {
  margin-bottom: 0;
  height: 60px;
}

.hero-content {
  margin-bottom: 40px;
}

.hero-content img {
  width: 90px;
}

.start-using {
  font-size: 24px;
  line-height: 30px;
  margin-top: 25px;
}

.st-list {
  margin-top: 10px;
}

.st-list li {
  font-size: 16px;
  line-height: 26px;
}

.st-list li:not(:last-child) {
  padding-right: 15px;
  margin-right: 15px;
}

.st-list li:before {
  width: 1px;
  height: 20px;
}

.section-heading.orange-color {
  margin-bottom: 40px;
}

.section-heading h2 {
  font-size: 60px;
  line-height: 50px;
}

.section-heading p {
  font-size: 22px;
  line-height: 30px;
}

.feature-text h3 {
  font-size: 27px;
  margin-bottom: 5px;
}

.feature-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
}


/*
  .feature-text p {
     font-size: 16px; 
    line-height: 28px;
  }
      */

.fal-center {
  padding: 0 70px;
}

.benefits-wrap,
.streamlined-wrap,
.connected-wrap {
  padding-top: 80px;
  padding-bottom: 80px;
}

.extra-title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.height-90 {
  height: 50px;
}

.single-plan {
  border: 1px solid #666666;
  border-radius: 35px;
}

.plan-name {
  font-size: 43px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.price.font-bebasneue {
  font-size: 24px;
  margin-bottom: 5px;
}

.price-per {
  font-size: 18px;
  line-height: 20px;
  height: 20px;
}

.price-title {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price-intro {
  min-height: 80px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
}

.price-list li {
  font-size: 16px;
  padding: 3px 60px;
  line-height: 35px;
  padding-right: 35px;
  padding-left: 0;
}

.price-list li:before {
  right: -12px;
  -webkit-transform: translateY(-50%) scale(0.5);
  -ms-transform: translateY(-50%) scale(0.5);
  transform: translateY(-50%) scale(0.5);
}

.pricing-btn {
  font-size: 30px;
  line-height: 38px;
  padding: 10px 20px;
  border-radius: 50px;
}

.pricint-note {
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;
}

.active-plan .single-plan {
  border: 1px solid #fd6203;
}

.free-plan .single-plan {
  border: 1px solid #01D861;
}

.pricing-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}

.accordian-head {
  font-size: 20px;
  padding: 15px 30px;
  padding-right: 80px;
}

.accordian-toggle {
  right: 15px;
  top: -6px;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.accordian-head.active .accordian-toggle {
  -webkit-transform: rotate(180deg) scale(0.5);
  -ms-transform: rotate(180deg) scale(0.5);
  transform: rotate(180deg) scale(0.5);
}

.single-accordian .accordian-body {
  line-height: 26px;
  font-size: 16px;
  padding: 1px 80px 20px 30px;
}

.faq-wrap {
  padding-top: 100px;
  padding-bottom: 110px;
}

.subscripe-wrap img {
  width: 90px;
}

.subscripe-form {
  margin-top: 40px;
}

.subscripe-form input {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 50px;
  height: 60px;
  font-size: 20px;
  padding: 10px 30px;
  margin: 0 8px;
  max-width: 370px;
}

.subscripe-btn {
  height: 60px;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px;
  margin: 0 8px;
  width: 100%;
  max-width: 235px;
}

.subscripe-wrap {
  padding: 100px 0;
}

.site-footer {
  background-color: #000;
  padding: 80px 0;
}

.footre-logo {
  max-width: 210px;
  margin-bottom: 40px;
}

.contact-info.font-bebasneue {
  margin-bottom: 30px;
}

.contact-info.font-bebasneue li {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}

.contact-info.font-bebasneue li img {
  margin-right: 10px;
  width: 25px;
}

.contact-info.font-bebasneue li span {
  margin-right: 15px;
}

.copyright p {
  font-size: 16px;
  line-height: 26px;
}

.tm-day-text h3 {
  font-size: 26px;
  line-height: 25px;
  margin-bottom: 5px;
}

.tm-day-text h2 {
  font-size: 54px;
  margin-bottom: 15px;
}

.tm-day-text h4 {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}

.tm-day-text p {
  font-size: 16px;
  line-height: 28px;
}

.carousel-indicators li {
  font-size: 22px;
  line-height: 36px;
  border-right: 1px solid #fff;
}

.carousel-indicators li:first-child {
  border-left: 1px solid #fff;
}

.carousel-inner {
  margin-top: -42px;
}

.tm-day-slide {
  padding-top: 42px;
}

.carousel-control-next,
.carousel-control-prev {
  font-size: 50px;
}

.tm-yourday-heading img {
  max-width: 380px;
}

.tm-your-day-wrap {
  padding-top: 60px;
}

.tm-yourday-heading {
  margin-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .fal-center {
    padding: 0 30px;
  }
  .tm-day-img {
    padding-left: 30px;
  }
  .tm-day-text {
    padding-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .mobile-plan-btn {
    display: block;
  }
  /*== Home page Header ==*/
  .site-header>div {
    width: 100%;
    padding: 0;
  }
  .site-branding {
    margin-left: 15px;
  }
  .m-menu-btn {
    margin-right: 10px;
  }
  .m-menu-btn {
    display: block;
  }
  .primary-nav-list {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    display: none;
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    margin: 0;
    background: #004987;
    -webkit-box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.35);
  }
  .small-height .primary-nav-list,
  .support-header .primary-nav-list {
    top: 60px;
    margin: 0;
  }
  .m-menu ul {
    list-style: none;
  }
  .m-menu ul .menu-item a {
    display: block;
    padding: 14px 30px;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .m-menu ul .menu-item ul li a {
    font-size: 12px;
  }
  .m-menu ul .menu-item a:hover {
    background-color: #2b2b2b3b;
    -webkit-box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.1);
  }
  .m-dropdown {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    line-height: 18px;
    height: 20px;
    width: 20px;
    text-align: center;
    z-index: 11;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .m-dropdown:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  .m-menu ul .menu-item ul {
    display: none;
    padding-left: 10px;
  }
  .m-menu ul>.menu-item {
    position: relative;
    border-bottom: 1px solid #fff6;
  }
  .m-menu ul>.menu-item:last-child {
    border-bottom: 0;
  }
  .menu-item.menu-item-has-children>a:after {
    display: none;
  }
  .nav-link:before {
    left: 10px;
    bottom: initial;
    top: 13px;
  }
  .site-header {
    height: 60px;
  }
  .site-header .custom-logo {
    max-width: 140px;
  }
  .fl-reverse .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .start-using {
    font-size: 20px;
    line-height: 30px;
    margin-top: 12px;
  }
  .st-list {
    margin-top: 3px;
  }
  .st-list li {
    font-size: 15px;
    line-height: 25px;
  }
  .hero-content {
    margin-bottom: 75px;
  }
  .site-header {
    z-index: 1000;
    background: #004987;
  }
  .tm-yourday-heading img {
    max-width: 280px;
  }
  .tm-your-day-wrap {
    padding-top: 50px;
  }
  .tm-yourday-heading {
    margin-bottom: 40px;
  }
  .carousel-inner {
    margin-top: 0;
  }
  .carousel-indicators li {
    font-size: 18px;
    line-height: 30px;
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    padding: 3px 16px;
    border: 1px solid #fff;
    width: 33.33333%;
  }
  .carousel-indicators:before,
  .carousel-indicators:after {
    display: none;
  }
  .carousel-indicators {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .tm-day-slide:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: -o-linear-gradient(#fff, transparent);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
    background-image: linear-gradient(#fff, transparent);
    height: 80%;
    width: 100%;
  }
  .tm-day-slide {
    position: relative;
  }
  .tm-day-slide>div {
    position: relative;
    z-index: 3;
  }
  .tm-day-text h3 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .tm-day-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .tm-day-text h4 {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .tm-day-text p {
    font-size: 15px;
    line-height: 25px;
  }
  .tm-day-img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-bottom: 20px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    font-size: 30px;
  }
  .section-heading.orange-color {
    margin-bottom: 25px;
  }
  .section-heading h2 {
    font-size: 40px;
    line-height: 35px;
  }
  .section-heading p {
    font-size: 18px;
    line-height: 24px;
  }
  .feature-text {
    margin-bottom: 35px;
  }
  .feature-text h3 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .feature-text h2 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .feature-text p {
    font-size: 15px;
    line-height: 25px;
  }
  .benefits-wrap,
  .streamlined-wrap,
  .connected-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .single-plan {
    border-radius: 30px;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }
  .pricing-wrap .height-90,
  .pricing-wrap .row>div:first-child .price-per {
    display: none;
  }
  .pricing-btn {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    line-height: 30px;
  }
  .pricing-wrap .row>div {
    margin-bottom: 40px;
  }
  .plan-name {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .price.font-bebasneue {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .price-per {
    font-size: 16px;
    line-height: 20px;
  }
  .price-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .price-intro {
    min-height: auto;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .price-list li {
    font-size: 15px;
  }
  .price-list li:before {
    -webkit-transform: translateY(-50%) scale(0.4);
    -ms-transform: translateY(-50%) scale(0.4);
    transform: translateY(-50%) scale(0.4);
  }
  .pricint-note {
    display: none;
  }
  .single-plan.text-center.mobile-plan {
    max-height: 390px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .mobile-plan-btn {
    position: absolute;
    bottom: 0;
    height: 63px;
    background: #fff;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
  }
  .mobile-plan-btn i {
    background-color: #bcbcbc;
    color: #fff;
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
  }
  .single-plan.mobile-plan.active {
    max-height: 1100px;
  }
  .single-plan.mobile-plan.active .mobile-plan-btn {
    height: 32px;
    position: relative;
    bottom: -25px;
    height: 60px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .single-plan.mobile-plan.active .mobile-plan-btn i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /*  .single-plan:before {
    content: '';
    position: absolute;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
    background: -webkit-linear-gradient(transparent, #fff);
    background: -o-linear-gradient(transparent, #fff);
    background: linear-gradient(transparent, #fff);
    width: 100%;
    height: 100px;
    z-index: 2;
    bottom: 63px;
  }*/
  .single-plan.mobile-plan.active .single-plan:before {
    display: none;
  }
  .pricing-wrap {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .accordian-head {
    font-size: 18px;
    padding: 12px 40px;
    padding-right: 70px;
  }
  .single-accordian .accordian-body {
    line-height: 25px;
    font-size: 15px;
    padding: 0px 60px 15px 20px;
  }
  .accordian-toggle {
    right: 12px;
    top: -10px;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }
  .faq-wrap {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .subscripe-wrap img {
    width: 60px;
  }
  .subscripe-form input {
    border: 2px solid #fff;
    height: 50px;
    font-size: 16px;
    padding: 7px 25px;
    max-width: 325px;
  }
  .subscripe-btn {
    height: 50px;
    font-size: 16px;
    padding: 10px;
    max-width: 210px;
  }
  .subscripe-wrap {
    padding: 60px 0;
  }
  .copyright p {
    font-size: 15px;
    line-height: 25px;
  }
  .footre-logo {
    max-width: 150px;
    margin-bottom: 30px;
  }
  .contact-info.font-bebasneue {
    margin-bottom: 20px;
  }
  .contact-info.font-bebasneue li {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6px;
  }
  .contact-info.font-bebasneue li img {
    width: 20px;
  }
  .contact-info.font-bebasneue li span {
    margin-right: 12px;
  }
  .site-footer {
    padding: 50px 0;
  }
  .carousel-indicators .active {
    color: #fd6e1e;
  }
  .fal-center {
    padding: 0 0px;
  }
  .benefits-wrap .section-heading p {
    display: none;
  }
  .benefits-wrap .section-heading h2 {
    text-align: left;
    padding-left: 40px;
  }
  .faq-wrap .section-heading h2 {
    text-align: left;
    padding-left: 40px;
  }
  .faq-wrap .container {
    padding-left: 0;
    padding-right: 0;
  }
}


/*== End Site Header ==*/

@media screen and (max-width: 767px) {
  .subscripe-form input {
    max-width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }
  .subscripe-btn {
    max-width: 100%;
    margin: 0;
  }
  .mobile-ex-price {
    border-top: 1px solid #666666;
    margin-bottom: 40px;
  }
  .mobile-ex-price-plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-bottom: 1px solid #666666;
    padding: 10px 0;
  }
  .mobile-ex-price .pricing-btn {
    max-width: 200px;
    margin: 0;
  }
  .mobile-ex-price .mobile-ex-price-text {
    min-width: 130px;
    text-align: center;
  }
  .mobile-ex-price {
    display: block;
  }
  .tm-day-list {
    display: none;
  }
  .tm-day-slide {
    position: relative;
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
  }
  .footer-app-logo {
    position: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-app-logo a {
    max-width: 150px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .footer-app-logo a:last-child {
    margin-right: 0;
  }
  .tm-video {
    display: none;
  }
  .hero-slider.owl-carousel {
    display: block;
  }
}

.video-bg-slider-full {
  height: 100vh;
  position: relative;
}


/*==================Support Page==================*/

.tb-support-hero.tm-contact-hero.text-center {
  padding-top: 200px;
  padding-bottom: 140px;
}

.tb-support-hero {
  background-image: url(../img/support_bg.jpeg);
  padding-top: 150px;
  padding-bottom: 140px;
  background-size: cover;
}

.tb-support-hero h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 56px;
  margin-bottom: 20px;
}

.tb-support-form {
  position: relative;
}

.tb-support-form input {
  width: 100%;
  height: 68px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  padding-left: 50px;
  padding-right: 155px;
}

.tb-support-form input:focus {
  outline: none;
}

.tb-support-form button {
  /*position: absolute;
    right: 20px;
    top: 50%;*/
  /*-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);*/
  /*height: 44px;*/
  width: 60px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background: #288ff9;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 5px 5px 7px;
}

.tb-support-form button:hover {
  background: #2576c8;
}

.tb-support-form i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 17px;
  color: #c5c3c3;
}

.tb-support-form input::-webkit-input-placeholder {
  color: #c5c3c3;
}

.tb-support-form input::-moz-placeholder {
  color: #c5c3c3;
}

.tb-support-form input:-ms-input-placeholder {
  color: #c5c3c3;
}

.tb-support-form input:-moz-placeholder {
  color: #c5c3c3;
}

.tb-icon-box-wrap {
  padding-top: 80px;
  padding-bottom: 50px;
}

.tb-icon-box {
  margin-bottom: 30px;
  border: 2px solid #e0e0e0;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.tb-icon-box img {
  margin-bottom: 20px;
}

.tb-icon-box h2 {
  font-size: 22px;
  font-weight: bold;
  color: #024887;
  margin-bottom: 25px;
}

.tb-icon-box p {
  font-size: 15px;
  line-height: 27px;
  color: #024887;
  font-weight: 600;
  margin-bottom: 0;
}

.tb-icon-box-wrap .row {
  margin-right: -15px;
  margin-left: -15px;
}

.tb-icon-box-wrap .row>div {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .tb-support-hero h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .tb-support-form button {
    /*right: 15px;*/
    /*height: 40px;*/
    width: 85px;
  }
  .tb-support-form input {
    height: 60px;
    border: none;
    padding: 15px;
    padding-left: 45px;
    padding-right: 110px;
  }
}

@media screen and (max-width: 450px) {
  .tb-support-hero h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}


/*Modal*/

.tb-modal.active {
  opacity: 1;
  visibility: visible;
}

.tb-modal .row {
  margin-right: -15px;
  margin-left: -15px;
}

.tb-modal .row>div {
  padding-right: 15px;
  padding-left: 15px;
}

.tb-modal-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
}

.tb-modal form {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 100px 40px;
  border-radius: 4px;
  position: relative;
  z-index: 3;
}

.tb-cross-btn {
  position: absolute;
}

.tb-modal .tb-form-field {
  margin-bottom: 28px;
  margin-top: -6px;
}

.tb-modal .tb-form-field label {
  display: block;
  color: #004987;
  font-weight: 600;
  margin-bottom: 9px;
}

.tb-modal .tb-form-field input,
.tb-form-field textarea {
  width: 100%;
  border: 2px solid #bebdbd;
  border-radius: 3px;
  height: 35px;
  padding: 5px 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tb-modal .tb-form-field input:focus,
.tb-form-field textarea:focus {
  outline: none;
  border-color: #004987;
}

.tb-modal .tb-form-field textarea {
  height: 214px;
}

.tb-modal form button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #004987;
  border: none;
  height: 40px;
  max-width: 430px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3px;
}

.tb-modal form button:hover {
  background-color: #288ff9;
}

.tb-modal h2 {
  font-size: 30px;
  font-weight: 600;
  color: #004987;
  line-height: 22px;
  margin-bottom: 85px;
  margin-top: -2px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.tb-modal h2:before,
.tb-modal h2:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: #004987;
  top: 50%;
}

.tb-modal h2:before {
  left: 0;
}

.tb-modal h2:after {
  right: 0;
}

.tb-cross-btn {
  position: absolute;
  right: 13px;
  top: 10px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  line-height: 15px;
  text-align: center;
}

.tb-cross-btn:hover {
  background-color: #dbdbdb;
  color: #004987;
}

.tb-support-details h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 35px;
  line-height: 40px;
  margin-top: 40px;
}

.tb-support-details p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.tb-support-details p:last-child {
  margin-bottom: 0;
}

.tb-support-details {
  border-left: 1px solid #b1b2b2;
  padding-left: 55px;
}

.tb-support-details-wrap {
  padding: 65px 0;
}

.tb-vartical-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tb-vartical-nav>div:not(:last-child) {
  margin-bottom: 20px;
}

.tb-vartical-nav>div a {
  font-size: 32px;
  color: #004987;
  font-weight: 600;
}

.tb-vartical-nav>div a:hover {
  color: #0775d3;
}

.tb-support-details-img {
  margin-bottom: 50px;
}

.accordian-wrapper.tb-style1 .accordian-head {
  padding: 7px 30px;
  padding-left: 0;
  padding-right: 0;
  font-size: 25px;
  font-weight: 600;
  color: #004987;
}

.accordian-wrapper.tb-style1 .single-accordian {
  border: none;
}

.accordian-wrapper.tb-style1 .accordian-toggle {
  display: none;
}

.accordian-wrapper.tb-style1 .active .accordian-toggle {
  color: #fd6e1e;
  -webkit-transform: scale(0.55) rotate(0deg);
  -ms-transform: scale(0.55) rotate(0deg);
  transform: scale(0.55) rotate(0deg);
}

.accordian-wrapper.tb-style1 {
  padding-top: 5px;
  margin-bottom: -5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.tb-support-details-img span {
  font-weight: 600;
  display: none;
}

.accordian-wrapper.tb-style1 .single-accordian .accordian-body {
  padding: 10px 0;
}

.tb-v-mobile {
  display: none;
}

.accordian-wrapper.tb-style1 .single-accordian:first-child .accordian-body {
  display: block;
}

.accordian-wrapper.tb-style1 .accordian-body a {
  font-size: 25px;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.accordian-wrapper.tb-style1 .accordian-body a:last-child {
  margin-bottom: 0;
}

.accordian-wrapper.tb-style1 .accordian-body a:hover {
  color: #fd6e1e;
}

.accordian-wrapper.tb-style1 .accordian-body a:before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
}

.accordian-wrapper.tb-style1 .accordian-head.tm-active {
  font-size: 32px;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .tb-modal {
    display: block;
    padding-bottom: 0;
  }
  .tb-modal h2 {
    margin-bottom: 50px;
  }
  .tb-cross-btn {
    right: 16px;
    top: 13px;
  }
  .tb-support-details-img span {
    display: block;
    color: #004987;
    font-weight: 600;
    font-size: 18px;
  }
  .tb-support-details p {
    margin-bottom: 20px;
  }
  .tb-support-details h2 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: 50px;
    margin-top: 40px;
  }
  .tb-support-details-wrap {
    padding: 120px 0 45px;
  }
  .tb-support-details-img {
    margin-bottom: 50px;
    border: 2px solid #373737;
    width: 160px;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: -170px;
    background: #fff;
    margin-bottom: 0;
  }
  .tb-support-details-img img {
    width: 50px;
  }
  .tb-vartical-nav li a {
    font-size: 24px;
    color: #004987;
  }
  .tb-v-mobile {
    display: inline-block;
    position: absolute;
    top: -90px;
    cursor: pointer;
    left: 20px;
  }
  .tb-support-details {
    border-left: none;
    padding-left: 0;
  }
  .tb-vartical-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 30px 20px;
    top: 0;
    left: -340px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 315px;
  }
  .tb-vartical-nav.active {
    left: 20px;
  }
  .accordian-wrapper.tb-style1 .accordian-body a {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
  }
  .accordian-wrapper.tb-style1 .accordian-head.active,
  .accordian-wrapper.tb-style1 .accordian-head {
    font-size: 24px;
  }
}

.accordian-wrapper.tb-style1.tm-fixed {
  position: fixed;
  top: 78px;
  background: #fff;
  padding-bottom: 10px;
  width: 337px;
}

@media screen and (max-width: 1020px) {
  .accordian-wrapper.tb-style1.tm-fixed {
    width: 260px;
  }
}

@media screen and (max-width: 767px) {
  .accordian-wrapper.tb-style1.tm-fixed {
    position: initial;
  }
  .tb-support-hero.tm-contact-hero.text-center {
    padding-top: 150px;
    padding-bottom: 90px;
  }
  .tb-modal form {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 575px) {
  .tb-modal .tb-form-field textarea {
    height: 150px;
  }
}

.tb-modal-button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #004987;
  border: none;
  height: 40px;
  max-width: 430px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3px;
}

.tb-modal-button:hover {
  background-color: #288ff9;
}


/*Login Form*/

.tm-login-wrap {
  padding-top: 190px;
  padding-bottom: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tm-login-wrap .container {
  position: relative;
}

.tm-login-wrap .tm-login-text {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'BebasNeue', sans-serif;
  line-height: 42px;
  max-width: 670px;
  position: absolute;
  left: 40px;
  bottom: -75px;
  margin-bottom: 0;
}

.tm-login-wrap .tm-login-text:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.22);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.tm-login-wrap .tm-login-text span {
  position: relative;
  z-index: 1;
}

.tm-login-wrap .tm-login-form {
  max-width: 415px;
  padding: 60px;
  width: 100%;
  background: #000;
  margin-left: auto;
}

.tm-login-wrap .tm-login-form h1 {
  font-family: 'BebasNeue', sans-serif;
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  margin-top: -11px;
  margin-bottom: 30px;
}

.tm-login-wrap .tm-login-form input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  outline: none;
}

.tm-login-wrap .tm-login-form input:focus {
  background: #f2efef;
}

.tm-login-wrap .tm-login-form button {
  width: 100%;
  height: 50px;
  font-size: 28px;
  font-family: 'BebasNeue', sans-serif;
  background-color: #288ef8;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 35px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tm-login-wrap .tm-login-form button:hover {
  background-color: #2576cb;
}

.tm-login-wrap .f-pass {
  font-size: 21px;
  color: #fff;
}

.tm-login-wrap .tm-n-acc {
  font-size: 21px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: -5px;
}

.tm-login-wrap .tm-n-acc a {
  font-weight: 700;
  display: inline-block;
  margin-left: 10px;
}

.tm-login-wrap a:hover {
  text-decoration: underline;
  color: #fff;
}
/*Popup Style*/
.popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    font-family: 'BebasNeue';
    /*overflow: auto;
    opacity: 0;*/
    /*visibility: hidden;*/
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.popup-wrap-in {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
    width: 100%;
    /*overflow: auto;*/
}
.popup-wrap.active {
  visibility: visible;
  opacity: 1;
}
.popup-in {
    width: 100%;
    max-width: 650px;
    background-color: #fff;
    /*margin: auto;*/
    position: relative;
    z-index: 1;
}
.popup-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.8;
}
.popup-heading {
    background-color: #004987;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 35px;
    min-height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.popup-title {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.popup-title span {
  font-weight: 400;
}
.popup-logo {
    max-width: 150px;
    margin-left: -15px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: -10px;
}
.popup-cross {
    width: 26px;
    height: 26px;
    border: 3px solid #fff;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.popup-row {
    padding: 35px;
}
.popup-feature-heading {
    margin-bottom: 24px;
}
.popup-feature-title {
    font-size: 45px;
    font-weight: 700;
    color: #fd6203;
    margin-bottom: 3px;
}
.popup-feature-subtitle {
    font-size: 20px;
    line-height: 1.2em;
    color: #fd6203;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.popup-feature-subtitle strong {
    font-weight: 700;
    margin-left: 10px;
}
.popup-price {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 0;
}
.popup-price li {
    margin-right: 11px;
    padding-right: 11px;
    position: relative;
}
.popup-price li:last-child {
	padding-right: 0;
	margin-right: 0;
}
.popup-price li:not(:last-child):after {
    content: '|';
    position: absolute;
    right: -4px;
}
.popup-feature {
    border: 4px solid #fd6203;
    padding: 16px 30px;
    border-radius: 50px;
    max-width: 500px;
    margin: auto;
}
.popup-feature h3 {
    color: #fd6203;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    visibility: visible;
    height: initial;
}
.popup-feature h3 span {
    color: #767676;
}
.popup-feature ul.popup-feature-list {
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-feature ul.popup-feature-list li {
    font-weight: 600;
    font-size: 16px;
    color: #666666;
    border-bottom: 2px solid #cacaca;
    line-height: 1.6em;
    padding: 5px 0;
    padding-right: 40px;
    position: relative;
}
.popup-feature ul.popup-feature-list li:last-child {
  border-bottom: none;
}
.popup-feature ul.popup-feature-list li img {
    position: absolute;
    width: 22px;
    top: 8px;
    right: 0;
}
.popup-feature h4 {
    color: #fd6203;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.popup-feature h4 a {
    font-weight: 600;
}

.popup-meta {
    text-align: center;
}
.popup-offer-text {
    line-height: 1.2em;
    font-size: 20px;
    color: #fd6203;
    margin-bottom: 10px;
    margin-top: 24px;
}
.right-heading {
    margin-bottom: 60px;
}
.right-heading h2 {
    font-size: 62px;
    color: #fd6203;
    font-weight: 400;
    margin-bottom: -7px;
}
.right-heading h2 span {
    font-size: 62px;
}
.right-heading h3 {
    font-size: 45px;
    color: #787878;
    font-weight: 400;
    margin-bottom: 6px;
}
.right-heading h4 {
    font-size: 24px;
    color: #787878;
    margin-bottom: 0;
}
.upgrate-btn {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    background-color: #fd6203;
    line-height: 1.2em;
    padding: 7px 60px;
    border-radius: 1.6em;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.upgrate-btn:hover,
.upgrate-btn:active,
.upgrate-btn:focus {
  opacity: 0.8;
  color: #fff;
}
.popup-offer-text span {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 7px solid #ff7f3b;
    border-radius: 50%;
    margin-left: 13px;
    position: relative;
    top: 3px;
}

@media screen and (max-width: 1000px) {
	.popup-heading {
    display: block;
}
.popup-cross {
    position: absolute;
    right: 15px;
    top: 15px;
}
.popup-feature {
    max-width: 100%;
}
.popup-row {
    padding: 35px 60px;
}
.popup-title {
    font-size: 20px;
}
}
@media screen and (max-width: 575px) {
.popup-row {
    padding: 30px 30px;
}
.popup-feature {
    border: 3px solid #fd6203;
    padding: 16px 20px;
}
.popup-row {
    padding: 35px 20px;
}
.popup-wrap-in {
    padding: 30px;
}
.popup-title {
    font-size: 20px;
}
.popup-feature ul.popup-feature-list li {
    font-size: 15px;
    padding: 3px 0;
    padding-right: 18px;
}
.popup-feature ul.popup-feature-list li img {
    width: 18px;
}
.popup-feature-subtitle {
    font-size: 17px;
}
.popup-price li {
    margin-right: 9px;
    padding-right: 9px;
}
.popup-feature-subtitle strong {
    margin-left: 8px;
}
.popup-feature h3 {
    font-size: 32px;
    margin-bottom: 5px;
}
.upgrate-btn {
    font-size: 26px;
    padding: 7px 40px;
}
}
@media screen and (max-width: 350px) {
	.popup-feature h3 {
    font-size: 28px;
}
}
/*End Popup Style*/
@media screen and (max-width: 1180px) {
  .tm-login-wrap .tm-login-text {
    max-width: 500px;
  }
}

@media screen and (max-width: 991px) {
  .tm-login-wrap .tm-login-text {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .tm-login-wrap .tm-login-form {
    margin-right: auto;
  }
  .tm-login-wrap {
    padding-top: 150px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 992px) {
  .app-btn-wrap a:not(:last-child) {
    margin-right: 15px;
  }
  .m-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 9px;
  }
  .small-height .app-btn-wrap {
    max-width: 170px;
    margin-right: 19px;
  }
  .app-btn-wrap {
    max-width: 170px;
    position: absolute;
    top: 20px;
    right: 57px;
  }
}

@media screen and (max-width: 768px) {
  .app-btn-wrap a:not(:last-child) {
    margin-right: 15px;
  }
  .m-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 9px;
  }
  .small-height .app-btn-wrap {
    max-width: 140px;
    margin-right: 19px;
  }
  .app-btn-wrap {
    max-width: 140px;
    position: absolute;
    top: 20px;
    right: 57px;
  }
}

@media screen and (max-width: 767px) {

  .tm-login-wrap .tm-login-text {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 30px;
  }
  .tm-login-wrap .tm-login-form h1 {
    font-size: 35px;
    margin-top: -8px;
    margin-bottom: 25px;
  }
  .tm-login-wrap .tm-login-form {
    padding: 40px;
  }
  .tm-login-wrap .tm-login-form input {
    height: 45px;
    font-size: 16px;
  }
  .tm-login-wrap .tm-login-form button {
    height: 45px;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .tm-login-wrap .f-pass {
    font-size: 18px;
  }
  .tm-login-wrap .tm-n-acc {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  .tm-login-wrap {
    padding-top: 130px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 600px) {
  .app-btn-wrap a:not(:last-child) {
    margin-right: 5px;
  }

  .support-header .app-btn-wrap,
  .small-height .app-btn-wrap {
    max-width: 117px;
    margin-right: 8px;
  }


  .app-btn-wrap {
    top: 20px;
    right: 48px;
    max-width: 117px;
  }

}