<%@ Page Language="C#" AutoEventWireup="true" CodeFile="sendpayment.aspx.cs" Inherits="sendpayment" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ETS Yearly Service</title>
</head>
<body>

    <form action="<%=SecurityManager.GetPaypalActionURL()%>" method="post" id="form1"
        name="form1">
        <input type="hidden" name="cmd" value="_xclick"/>
        <input type="hidden" name="business" value="<%=SecurityManager.GetPaypalReceiverEmail()%>"/><!--  dbguru_1334404608_biz@gmail.com  mohsin_1228456821_biz@gmail.com  Paypal or sandbox Merchant account -->
        <input type="hidden" name="item_name" value="<%=Session["PaypalItemName"]%>" />
            <%--<asp:HiddenField runat="server" ClientIDMode="Static" ID="item_name" Value="ETS Yearly Service" />--%>
        <%--<input type="hidden" name="item_number" value="1"/>--%>
        <input type="hidden" name="amount" value="<%=Session["PaymentAmount"]%>"/>
        <input type="hidden" name="return" value="<%=GetReturnURL()%>"/><!--this page will be your redirection page -->
        <input type="hidden" name="cancel_return" value="<%=Getcancel_returnURL()%>"/>
        <input type="hidden" name="currency_code" value="AUD"/>
        <input type="hidden" name="notify_url" value="<%=Getnotify_urlURL()%>"/><!--this should be your domain web page where you going to receive all your transaction variables -->
         <input type="hidden" name="custom" value="<%=Session["InvoiceID"]%>"/> 
          <input type="hidden" name="currency_code" value="AUD"/>
           <input type="hidden" name="no_shipping" value="1">
    </form>

    <script language="javascript" type="text/javascript">
   document.form1.submit();   
    </script>

</body>
</html>
