﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PoprResponsive.master.cs" Inherits="Home_PoprResponsive" %>

<!DOCTYPE html>
<html lang="en" style="background-image:none; background-color:#ffffff;">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheDatabase</title>
        <meta name="Description" content="TheDatabase.net is an online database development platform to make getting your database on the web quick and easy with no upfront costs." />
    <meta name="Keywords" content="Database, online, web, data, development, platform" />
     <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
     <link href="~/Responsive/css/bootstrap.css" rel="Stylesheet" type="text/css" />
            <link href="~/App_Themes/Default/r-responsive-style.css?v=38" rel="stylesheet" type="text/css" />
     <asp:Literal ID="ltMasterStyles" runat="server"></asp:Literal>
     <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
    
</head>
<body style="background-image:none; background-color:#ffffff;">

    <script type="text/javascript" src="<%=ResolveUrl("~/script/jquery-3.3.1.min.js")%>"></script>

    <script type="text/javascript" src="<%=ResolveUrl("~/JS/Common.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/JS/modernizr.custom.80028.js")%>"></script>

      <link href="<%=ResolveUrl("~/Styles/jquery-ui-dbgcustom.css")%>" rel="stylesheet" type="text/css" />
     <script type="text/javascript" src="<%=ResolveUrl("~/Script/jquery-ui-1.12.1.min.js")%>"></script>

     <link href="<%=ResolveUrl("~/fancybox3/dist/jquery.fancybox.min.css")%>" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%=ResolveUrl("~/fancybox3/dist/jquery.fancybox.min.js")%>"></script>


    <script type="text/javascript" src="<%=ResolveUrl("~/swfobject.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/JS/jquery.mCustomScrollbar.min.js")%>"></script>
    
    <link rel="stylesheet" type="text/css" href="<%=ResolveUrl("~/css/multiple-select.css?v=1")%>" />
<script type="text/jscript" src="<%=ResolveUrl("~/JS/multiple-select.js")%>"></script>

    <script type="text/javascript">
        $(".btn")
                   .click(
                     function () {
                         if (Page_IsValid) {
                             $(".ajax-indicator-full").fadeIn();
                         }
                     }
                   );
    </script>


    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true"  AsyncPostBackTimeout="36000">
    </asp:ScriptManager>
   <asp:UpdateProgress class="ajax-indicator-full" ID="upMaster" runat="server">
    <ProgressTemplate>
        <table style="width: 100%; height: 100%; text-align: center;">
            <tr valign="middle">
                <td>
                    <p style="font-size:12px;">
                        Please wait...
                    </p>
                    <asp:Image runat="server" AlternateText="Processing..." ImageUrl="~/Images/ajax.gif" />
                </td>
            </tr>
        </table>
    </ProgressTemplate>
</asp:UpdateProgress>
 <asp:UpdatePanel ID="upNotificationMessage" runat="server" UpdateMode="Always">
            <ContentTemplate>
                <div id="divNotificationMessage" style="position: fixed; top: 0px;">
                    <asp:Label runat="server" ID="lblNotificationMessage"></asp:Label>
                </div>
            </ContentTemplate>
        </asp:UpdatePanel>


        <div class="row row-no-padding">
            <div class="table-responsive" id="Content">
                <div class="body-content-wrapper">
                    <asp:ContentPlaceHolder ID="HomeContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="<%=ResolveUrl("~/Responsive/js/bootstrap.js")%>"></script>
    </form>
</body>
</html>
