﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/rResponsive.master" AutoEventWireup="true" CodeFile="ColumnLayout.aspx.cs" Inherits="Pages_Record_ColumnLayout" %>
<%@ Register Src="~/Pages/UserControl/ColumnLayout.ascx" TagName="CL" TagPrefix="dbg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">
    <div style="padding:20px;">
            <asp:HyperLink runat="server" ID="hlBack" Text="Back" CssClass="btn"><strong>Back</strong></asp:HyperLink>
             <br />
               <dbg:CL runat="server" id="clTest"></dbg:CL>
    </div>
    
</asp:Content>

