﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/PoprResponsive.master" AutoEventWireup="true" CodeFile="RecordDisplay.aspx.cs" Inherits="Pages_Record_RecordDisplay" %>
<%@ Register Src="~/Pages/UserControl/DetailEdit.ascx" TagName="CTDetail" TagPrefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">
       <script type="text/javascript" src="<%=Request.Url.Scheme+@"://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCgc_Iim3AMzz7jYQ8bdqVKh1mnGxz7Y88" %>"></script>

    <asp:Panel runat="server" ID="pnlRecord">

    </asp:Panel>
</asp:Content>

