﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Home/rResponsive.master" AutoEventWireup="true" CodeFile="CopySampleTypeHelp.aspx.cs" Inherits="Pages_Help_CopySampleTypeHelp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HomeContentPlaceHolder" Runat="Server">
<table border="0" cellpadding="0" cellspacing="0" width="928" align="center">
    <tr>
        
          <td valign="top" height="354" class="NormalText" align="center">
      
       <%--<DBGurus:DBGContent 
    id="DBGWelcomeContent" 
    runat="server" 
    connectionname="CnString" 
    contentkey="CopySampleTypeHelp" 
    tablename="Content" 
    ExtenderPath="../../Extender/" 
    ShowInlineContentEditor="false" 
    UseAssetManager="true" />--%>

    <asp:Label runat="server" ID="lblContentCommon"></asp:Label>
              
        </td>
    </tr>
  
</table>   

</asp:Content>

