﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CustomTest.ascx.cs" Inherits="Pages_UserControl_Custom_CustomTest" %>
<div>
    This is a test custom control
    <br />
    <asp:TextBox runat="server" ID="txtVXXX"  ForeColor="Purple"></asp:TextBox>
    <br />
    <asp:Label runat="server" ID="lblDisplayMethod" Text="nones"></asp:Label>
</div>