﻿<%@ Page Language="C#" AutoEventWireup="true" Async="true" AsyncTimeout="3600" 
     CodeFile="WinSchedules.aspx.cs" Inherits="DBEmail_WinSchedules" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            DONE :-)
    </div>
        <br />
        <div>
            <table>
                <tr>
                    <td>
                        <asp:Label ID="lblALSLive" runat="server"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="lblALSLabAttemt" runat="server"></asp:Label>
                    </td>
                </tr>
                <asp:Button runat="server" ID="btnSetNullALS" OnClick="btnSetNullALS_Click" />
            </table>
        </div>
    </form>
</body>
</html>
