﻿

html {
    background-color: #ffffff;
    background: #ffffff;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    /*color: #565656;*/
    margin: 0;
    /*font-size: 12pt;*/
    /*background: url(images/bg.jpg) center top no-repeat;*/
    line-height: 1.25;
}

.topbottomfullline {
    height: 5px;
    border-top:solid;
    border-top-width:1px;
    border-top-color:#5598F8;
    /*background-color: #5598F8;*/ 
    /*width: 100vw;*/   
}

/*--------- middle part ---------*/
#body-part {
    width: 100%;
    float: left;
    padding: 20px;
    min-height: 500px;
}
/*--------- Footer part ---------*/
#footer {
    width: 100%;
    /*background: url(images/footer-grad.jpg) repeat-x left top #fafafa;*/
    /*padding: 10px 0 0 0;*/
    text-align: center;
    height: 30px;
}

    #footer ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

        #footer ul li {
            font-size: 12px;
            color: #565656;
            display: inline;
            padding: 0 5px 0 5px;
        }

            #footer ul li a {
                text-decoration: none;
                color: #565656;
            }

                #footer ul li a:hover {
                    text-decoration: none;
                    color: #2d940b;
                }

.copyright-text {
    display: block;
    margin-top: 15px;
    font-size: 10pt;
}

