﻿@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto', sans-serif;
}
.affix{top: 0px;
width: 100%;
background: #FFF;
left: 0;
z-index: 2;
padding: 0 3%;
}
.navbar{
	margin-top:4px;
	margin-bottom:0px;
}
.navbar-toggle{
	background-color:#e6e5e5;
}
.navbar-nav > li > a{
	color:#000;
	padding: 10px 6px;
}
.nav > li > a:focus, .nav > li > a:hover{
	background-color:#FFF;
	color:#015ffd;
}
.nav > li > a:active{
	color:#0b9444;
}
.navbar-brand{
	padding: 6px 10px;
}
.white-txt{
	color:#FFF;
}
.white-txt ol li{
	color:#FFF;
	background:#FFF;
}
.white-txt .carousel-indicators .active{
	background:#FFF;
}
.pad-tb-20{
	padding:20px 0px;
}
.pad-tp-30{
	padding-top:30px;
}
.pad-bt-70{
	padding-bottom:70px;
	}
.pad-tb-30-70{
	padding-top:30px;
	padding-bottom:70px;
}
.mr-tp-100{
	margin-top:100px;
}
.mr-left-4-1{
	margin-left:4.166666665%
	}
.mr-left-8-3{
	margin-left:8.33333333%
}

.mr-tp-22{
	margin-top:22px;
}
.mr-tp-42{
	margin-top:42px;
}
.mr-tp-52{
	margin-top:52px;
}
.mr-tb-60{
	margin-top:60px;
	margin-bottom:60px;
}
.mr-tp-34{
	margin-top:34px;
}
.mr-tp-110{
	margin-top:110px;
}
.mr-tp-152{
	margin-top:152px;
}
.mr-tb-40{
	margin-top:40px;
	margin-bottom:40px;
}
.bnr-txt{
	color:#FFF;
	font-size:48px;
	font-weight:bold;
	position: relative;
	top: 187px;
	text-shadow: 1px 2px 2px rgba(21, 21, 21, 0.95);
}
.frt {
    text-align: center;
    margin-top: 20px;
}
.frt a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}

/* == Red 26092019: Ticket 4887  == */
.forgot-pw {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
}
.forgot-pw a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}
/* == End Red == */


.trial-bg{
	color:#FFF;
	background: rgba(29,172,255,1);
	background: -moz-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,172,255,1)), color-stop(100%, rgba(0,72,217,1)));
	background: -webkit-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -o-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: linear-gradient(to bottom, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dacff', endColorstr='#0048d9', GradientType=0 );
	margin-top:80px;
	margin-bottom:80px;
	-webkit-border-top-left-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-moz-border-top-left-radius:40px;
	-moz-border-bottom-right-radius:40px;
	border-top-left-radius:40px;
	border-bottom-right-radius:40px;
	padding: 28px 50px 10px 50px;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.36);
-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.36);
box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.36);
	
}

.login-trial-bg{
	color:#FFF;
	background: rgba(29,172,255,1);
	background: -moz-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,172,255,1)), color-stop(100%, rgba(0,72,217,1)));
	background: -webkit-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -o-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: linear-gradient(to bottom, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dacff', endColorstr='#0048d9', GradientType=0 );
	margin-top:80px;
	margin-bottom:80px;
	-webkit-border-top-left-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-moz-border-top-left-radius:40px;
	-moz-border-bottom-right-radius:40px;    
	border-top-left-radius:40px;
	border-bottom-right-radius:40px;
	padding: 28px 50px 50px 50px;
	/*-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.36);*/
    -webkit-box-shadow: 0 0 0px 1000px white inset;
-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.36);
box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.36);

	
}
.trial-bg h1{
	font-weight:bolder;
	font-size:40px;
}
.trial-bg p{
	font-size:16px;
	margin-bottom:34px;
}
.btn-primary{
	border:none;
	background:#00d5db;
	width:100%;
	border-radius:10px;
	font-size:18px;
	font-weight:900;
	padding: 10px 12px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
background:#36E1FF;	
}
.form-inpt{
	background:#FFF;
	border:none;
	box-shadow:none;
	border-radius:10px;
	height:48px;
}
.ets-txt h3{
	margin-bottom:20px;
}
.ets-txt p{
	font-size:16px;
}
.ets-video{
	border:3px solid #0b9444;
	margin-top:36px;
}
.spsheet h2{
font-size: 26px;
font-weight: 900;
}
.spsheet hr{
	height:2px;
	background:#03acff;
	border:none;
	width:60%;
}
.spsheet p{
	font-size:16px;
}
.spsheet ul{
	padding-left: 0px;
	list-style:none;
	font-size:16px;
}
.spsheet ul li{
	line-height:24px;
}
.spsheet ul li::before{
	content:"• ";
	color:#0b9444;
	padding-right: 24px;
}
.easy-way h2{
font-size: 26px;
font-weight: 900;
}
.easy-way hr{
	height:2px;
	background:#03acff;
	border:none;
	width:44%;
}
.easy-way p{
	font-size:16px;
	margin-bottom:26px;
	line-height:26px;
}

.easy-way ul{
	padding-left: 0px;
	list-style:none;
	font-size:16px;
	margin-bottom:26px;
}
.easy-way ul li{
	line-height:24px;
}
.easy-way ul li::before{
	content:"• ";
	color:#0b9444;
	padding-right: 24px;
}
.easy-clmn-one{
	padding:40px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	background:#049eea;
	color:#FFF;
}
.easy-clmn-one ul{
	padding:0;
	margin-left:24px;
}

.easy-clmn-one ul li{
	font-size:16px;
	line-height:34px;
	padding-left:10px;
}

.easy-clmn-two{
	padding:40px;
	border-radius:20px;
	background:#03acff;
	color:#FFF;
}
.easy-clmn-two ul{
	padding:0;
	margin-left:24px;
}


.easy-clmn-two ul li{
	font-size:16px;
	line-height:34px;
	padding-left:10px;
}


.easy-clmn-three{
	padding:40px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	background:#4cc3fd;
	color:#FFF;
}
.easy-clmn-three ul{
	padding:0;
	margin-left:24px;
}


.easy-clmn-three ul li{
	font-size:16px;
	line-height:34px;
	padding-left:10px;
}
.grow p{
	font-size:15px;
	line-height:28px;
}
hr{
	height:1px;
	border:none;
	background:#959595;
	width:99%;
}
.clients h2{
font-size: 26px;
font-weight: 900;
}
.clients hr{
	height:2px;
	background:#03acff;
	border:none;
	width:56%;
}

.rview h2{
	color:#FFF;
	font-size: 26px;
	font-weight: 900;
}
.rview hr{
	height:2px;
	background:#03acff;
	border:none;
	width:10%;
}
.rview-clnm{
	background:#FFF;
	border-radius:20px;
	padding:20px;
}
.rview-clnm img{
	margin-bottom: 118px;
	margin-right: 20px;
}
.rview-clnm p{
	font-size: 16px;
	line-height: 24px;
}
.rview-clnm a{
	color:#36e1ff;
	text-decoration:none;
	font-size:16px;
}
.signup{
	color:#FFF;
}
.signup h3{
	font-size:26px;
}
.signup p{
	font-size:16px;
}
.btn{
	border:none;
}
.btn-success{
	width:100%;
	margin-top: 12px;
	background-color:#00d5db;
}
.btn-group-lg > .btn, .btn-lg{
	padding: 18px 20px;
font-size: 26px;
border-radius: 10px;

}
.reporting h2{
	    font-size: 26px;
    font-weight: 900;	
}
.reporting hr{
	height: 2px;
background: #03acff;
border: none;
width: 26%;
}
.reporting h4{
	font-size:20px;
	margin-bottom: 0;
	margin-top: 40px;
}
.reporting p{
font-size: 16px;
line-height: 26px;
width: 90%;
}
.report-column h5{
	font-size:16px;
	line-height:26px;
}
.report-column ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.report-column ul li{
	font-size: 16px;
	line-height: 26px;
}
.report-column ul li::before {
    content: "• ";
    color: #0b9444;
    padding-right: 20px;
}
.report-column p{
		font-family: 'Roboto', sans-serif;
		font-size:16px;
		line-height:26px;
}
.packed h2{
	font-size: 26px;
font-weight: 900;
}
.packed hr {height: 2px;
background: #03acff;
border: none;
width: 22%;
}
.packed p{
font-size: 16px;
line-height: 36px;
}
.slide h2{
	margin-top:2px;
	margin-bottom:30px;
	font-size: 26px;
}

.slide ul{
margin-left: 20px;
	padding:0;
}
.slide ul li{
    font-size: 20px;
    line-height: 36px;
	padding-left:20px;
}

.carousel-indicators li{
	background-color: #000;
	opacity:0.5;
	width:16px;
	height:16px;
	margin-right:10px;
}
.carousel-indicators .active{
		width:18px;
	height:18px;
		opacity:1;
			margin-right:10px;
			background-color: #000;

}
.carousel-indicators{
	top: 105%;
}
.price{
	color:#FFF;
}

.price h2{
	font-size: 26px;
font-weight: 900;
}
.price hr {
    height: 2px;
    background: #03acff;
    border: none;
    width: 14%;
}
.price p{
	font-size:16px;
	line-height: 26px;
}
.price ul{
	font-size:16px;
	line-height: 26px;
	margin:0 0 0 14px;
	padding:0;
	text-align:left;
}
.price ul li {
   padding-left: 22px;
}
.price span{
	color:#36e1ff;
}
.price-column .col-sm-4, .price-column .col-md-4, .price-column .col-lg-4{
padding-right: 0px;
padding-left: 0px;
}
.price-column{
	color:#FFF;
}
.col-one-top{
	background:#36e1ff;
	padding:1px;
}
.col-one-top h3{
	font-size: 36px;
	font-weight: 200;
}
.col-one-top small{
	font-size:14px;
	color:#FFF;
}
.col-one-top span{
	font-size: 30px;
}
.col-one-body{
	background:#757575;
}
.col-one-body ul{
	padding:30px 0;
	list-style:none;
	margin: 0;
}
.col-one-body ul li{
font-size: 14px;
line-height: 32px;
}
.col-one-body ul li::before{
font-family:"FontAwesome";
content:"\f00c";
color:#1dacff;
margin-left:14px;
padding-right:4px;
}
.col-one-body ul li:nth-child(9)::before{
	font-family:"FontAwesome";
content:"\f00c";
	color:#FFF;
}
.col-one-body ul li:nth-child(10)::before{
	font-family:"FontAwesome";
content:"\f00c";
	color:#FFF;
}
.disable{
	opacity:0.3;
	color:#FFF;
}
.col-two-style{
	margin-top:-20px;
-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
z-index: 1;
}
.col-two-top{
	background:#36e1ff;
	padding:1px;
}
.col-two-top h3{
	font-size: 36px;
	font-weight: 200;
}
.col-two-top small{
	font-size:14px;
	color:#FFF;
}
.col-two-top span{
	font-size: 30px;
}
.col-two-body{
	background:#757575;
}
.col-two-body ul{
	padding-bottom:60px;
	padding-top:20px;
	padding-left:0;
	padding-right:0;
	list-style:none;
	margin: 0;
}
.col-two-body ul li{
font-size: 14px;
line-height: 32px;
}
.col-two-body ul li::before{
font-family:"FontAwesome";
content:"\f00c";
color:#1dacff;
margin-left:20px;
padding-right:4px;
}
.col-two-body ul li:nth-child(10)::before{
	font-family:"FontAwesome";
content:"\f00c";
	color:#FFF;
}



.col-three-top{
	background:#36e1ff;
	padding:1px;
}
.col-three-top h3{
	font-size: 36px;
	font-weight: 200;
}
.col-three-top small{
	font-size:14px;
	color:#FFF;
}
.col-three-top span{
	font-size: 30px;
}
.col-three-body{
	background:#757575;
}
.col-three-body ul{
	padding:30px 0;
	list-style:none;
	margin: 0;
}
.col-three-body ul li{
font-size: 14px;
line-height: 32px;
}
.col-three-body ul li::before{
font-family:"FontAwesome";
content:"\f00c";
color:#1dacff;
margin-left: 26px;
padding-right:4px;
}
.btm-form-bg{
	color:#FFF;
	background: rgba(29,172,255,1);
	background: -moz-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,172,255,1)), color-stop(100%, rgba(0,72,217,1)));
	background: -webkit-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -o-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	background: linear-gradient(to bottom, rgba(29,172,255,1) 0%, rgba(0,72,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dacff', endColorstr='#0048d9', GradientType=0 );
	margin-top:28px;
	margin-bottom:80px;
	-webkit-border-top-left-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-moz-border-top-left-radius:40px;
	-moz-border-bottom-right-radius:40px;
	border-top-left-radius:40px;
	border-bottom-right-radius:40px;
	padding: 28px 50px 10px 50px;
	
}
.btm-form-bg h1{
	font-size:32px;
}
.btm-form-bg p{
	font-size:16px;
	margin-bottom:34px;
}

.signup-text h2{
	font-size: 34px;
font-weight: 900;
}
.signup-text hr{
	height: 2px;
background: #03acff;
border: none;
width: 94%;
}
.text-one p,
.text-two p,
.text-three p{
	font-size:16px;
	line-height:20px;
}
.text-one{
width: 80%;
text-align: justify;
}
.text-one img {margin-bottom: 65px;
margin-right: 20px;
}
.text-two{
width: 80%;
text-align: justify;
}
.text-two img {
margin-bottom: 70px;
margin-right: 20px;
}
.text-three{
width: 80%;
text-align: justify;
}
.text-three img{
	margin-right: 20px;
margin-bottom: 80px;
}
.lead{
	margin:0;
	font-size:16px;
	padding:15px 0;
}
/************Services area**************/
.features {
    padding: 0;
}

.feature-wrap {
    margin-bottom: 35px;
    overflow: hidden;
}
.feature-wrap i {
    font-size: 48px;
    height: 110px;
    width: 110px;
    margin: 3px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    background: #ffffff;
    color: #66CFFF;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    margin-right: 10px;
}
.feature-wrap h3 {
	font-size:22px;
}

/*_____ ****** Responsive code start here ****** _____ */

/*
@media screen and (max-width: 500px) {
.bnr-txt{
	top:0;
	font-size: 32px;
}
.trial-bg{
	margin-top:24px;
	padding: 5px 24px 38px 24px;
	margin-bottom: 24px;
}
.trial-bg h1 {
    font-size: 34px;
}

.clients img{margin-top: 20px;
margin-bottom: 20px;
border: 1px solid #a7a7a6;
box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.30);

}

.mr-tb-40 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.mr-tb-60 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mr-tp-52 {
    margin-top: 28px;
}
.mr-tp-42 {
    margin-top: 20px;
}
.mr-tp-30 {
	margin: 30px auto;
}
.mr-tp-34 {
    margin-top: 22px;
}
.mr-tp-22 {
    margin-top: 4px;
}
.mr-left-4-1 {
    margin-left: 0%;
}
.mr-left-8-3 {
    margin-left: 0%;
}
.pad-tb-20 {
    padding: 10px 0px;
}
.pad-tb-30-70 {
    padding-top: 10px;
	padding-bottom: 20px;
}
.pad-bt-30{
	padding-bottom: 30px
}
.pad-tp-30 {
    padding-top: 10px;
}
.easy-way p {
    margin-bottom: 10px;
}
.easy-clmn-three ul li,
.easy-clmn-two ul li,
.easy-clmn-one ul li {
    font-size: 18px;
	line-height: 30px;
}
.easy-clmn-two{
	margin-bottom:10px;
	margin-top:10px;
}
.easy-clmn-three,
.easy-clmn-two,
.easy-clmn-one{
	padding: 20px 40px;
}
.rview hr {
    width: 86%;
}
.rview-clnm img {
    margin-bottom: 0px;
    margin-right: 10px;
}
.btn-group-lg > .btn, .btn-lg {
    padding: 10px 20px;
}
.reporting h4 {
    margin-top: 20px;
}
.packed p {
    line-height: 30px;
}
.slide h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.slide ul li {
    font-size: 14px;
    line-height: 28px;
    padding-left: 0px;
}
.carousel-indicators {
    top: 100%;
}
.price p {
    line-height: 20px;
}
.price ul {
    line-height: 22px;
}
.col-three-body ul li::before,
.col-two-body ul li::before,
.col-one-body ul li::before{
margin-left: 4px;
padding-right: 4px;
}
.col-three-body ul li,
.col-two-body ul li,
.col-one-body ul li {
    font-size: 12px;
}
.col-two-style {
    margin-top: 0px;
}
.col-two-body ul {
    padding-bottom: 10px;
}	
.btm-form-bg{
	margin-top:24px;
	padding: 5px 24px 38px 24px;
	margin-bottom: 24px;
}
.btm-form-bg h1 {
    font-size: 34px;
}
.text-two,
.text-one {
    width: 100%;
}
.text-two img,
.text-one img {
    margin-bottom: 0px;
}
.lead {
    font-size: 14px;
    padding: 20px 0;
}
element {
}
}
*/



@media screen and (max-width: 500px){
    .bnr-txt{
    display: none; /*hiding per Jon*/
    }

}


/* Was 768 now 1000 */
@media screen and (max-width: 1000px)  {
	.bnr-txt{
		top: 0px;
		font-size: 36px;
	}
.trial-bg{
	margin-top: 20px;
}
.pad-tb-30-70 {
    padding-top: 0px;
    padding-bottom: 32px;
}
.easy-clmn-three,
.easy-clmn-two,
.easy-clmn-one {
    padding: 20px;
}
.easy-clmn-three ul,
.easy-clmn-two ul,
.easy-clmn-one ul {
    margin-left: 14px;
}
.easy-clmn-three ul li, 
.easy-clmn-two ul li,
.easy-clmn-one ul li {
    font-size: 16px;
    line-height: 32px;
    padding-left: 2px;
}
.mr-tb-60 {
    margin-top: 14px;
    margin-bottom: 30px;
}
.mr-left-4-1 {
    margin-left: 0%;
}
.mr-left-8-3 {
    margin-left: 0%;
}
.rview-clnm img {
    margin-bottom: 4px;
}
.mr-tp-42 {
    margin-top: 0px;
}
.packed p {
    font-size: 14px;
    line-height: 28px;
}
.pad-tp-24{
	padding-top:24px;
}
.slide h2 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 24px;
}
.slide ul li {
    font-size: 18px;
    line-height: 28px;
    padding-left: 6px;
}
.report-column h5 {
    font-size: 14px;
    line-height: 24px;
}

.report-column ul li {
    font-size: 14px;
    line-height: 24px;
}
.report-column p {
    font-size: 14px;
    line-height: 24px;
}

.pad-tp-30 {
    padding-top: 0px;
}
.col-two-body ul {
    padding-bottom: 20px;
    padding-top: 0px;
}
.col-three-body ul,
.col-one-body ul {
    padding: 0px;
}
.col-three-body ul li::before,
.col-two-body ul li::before,
.col-one-body ul li::before {
    margin-left: 4px;
    padding-right: 4px;
}
.col-three-body ul li,
.col-two-body ul li,
.col-one-body ul li {
    font-size: 11px;
    line-height: 26px;
}
signup-text h2 {
    font-size: 30px;

}
.text-two,
.text-one {
    width: 100%;
}
.text-one img {
    margin-bottom: 48px;
}
.text-one p, .text-two p {
    font-size: 14px;
    line-height: 18px;
}
.text-two img {
    margin-bottom: 2px;
    margin-right: 16px;
}
.mr-tb-10{
	margin-top: 10px;
margin-bottom: 10px;
}
.carousel-indicators {
    top: 100%;
}

}


        #divNotificationMessage {
            width: 100%;
            position: absolute;
            z-index: 101;
            top: 0;
            left: 0;
            right: 0;
            background: #009DA5;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
            line-height: 2.5;
            overflow: hidden;
            -webkit-box-shadow: 0 0 5px black;
            -moz-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
            -moz-opacity: .95;
            filter: alpha(opacity=95);
            opacity: .95;
        }


        .cssanimations.csstransforms #divNotificationMessage {
            -webkit-transform: translateY(-50px);
            -webkit-animation: slideDown 3s 0.2s 1 ease forwards;
            -moz-transform: translateY(-50px);
            -moz-animation: slideDown 3s 0.2s 1 ease forwards;
        }

        /*.cssanimations.csstransforms #aNotificationMessageClose {
  display: none;
}*/


        @-webkit-keyframes slideDown {
            0%, 100% {
                -webkit-transform: translateY(-50px);
            }

            10%, 90% {
                -webkit-transform: translateY(0px);
            }
        }

        @-moz-keyframes slideDown {
            0%, 100% {
                -moz-transform: translateY(-50px);
            }

            10%, 90% {
                -moz-transform: translateY(0px);
            }
        }




